<div id="container">
  <div id="carlos">
    <h1>Carlos Eduardo</h1>
    <p>Nome: Carlos Eduardo</p>
    <p>Curso: Desenvolvimento de Sistema </p>
    <p>Objetivo: Trabalha na Área</p>
    <p>Hobbies: Futebol e Academia</p>
    <p>Contato Linkedin: (11)949387614</p>
    <p>GitHub:</p>

  </div>
  <div id="luis">
    <h1>Luis Gustavo</h1>
    <p>Nome: Luis Gustavo</p>
    <p>Curso: Desenvolvimento de Sistema </p>
    <p>Objetivo: Trabalha na Área</p>
    <p>Hobbies: Futebol e Estudar</p>
    <p>Contato Linkedin: (11)988252863</p>
    <p>GitHub: <a href="//github.com/">Luigustavo10</a></p>
  </div>

</div>
<router-outlet></router-outlet>
